body > * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }

  header > section {
      display: grid;
      grid-template-columns: auto auto;
      background-color: rgb(0, 255, 42);
  }

  header > header

  section {
      
  }